<!-- FOOTER SECTION -->
{{#if isAdmin}}
  <footer id="footer">
    <p class="author text-center w-100 py-3 py-lg-4 mb-0" style="border: 0;">
      <a href="#">&copy; Copyright
        <script>document.write(new Date().getFullYear());</script>, Toshtemirov
        M
      </a>
    </p>
  </footer>
{{else}}
  <footer id="footer">
    <div class="container py-3 py-lg-5">
      <div class="row py-3 py-lg-4">
        <div class="col-6 col-md-3 mb-3 mb-md-0">
          <h3>TATUSF.uz library</h3>
          <p>Samarqand shaxar <br /> Ibn Sino ko'chasi 2A uy</p>
          <p class="mb-0"><b>Telefon:</b> +99 866 232 2559</p>
          <p><b>Email:</b> librarysamtuit@gmail.com</p>
        </div>
        <div class="col-6 col-md-3 mb-3 mb-md-0">
          <h3>ARM haqida</h3>
          <ul>
            <li>
              <a
                href="http://samtuit.uz/uz/page/leadership-11-08-2021"
                class="text-capitalize"
              >
                <i class="fas fa-angle-right"></i>
                raxbariyat
              </a>
            </li>
            <li>
              <a
                href="http://samtuit.uz/uz/page/arm-30-09-2021"
                class="text-capitalize"
              >
                <i class="fas fa-angle-right"></i>
                ARM tuzilishi
              </a>
            </li>
            <li>
              <a
                href="https://samtuit.uz/uz/page/university-regulations-11-08-2021"
                class="text-capitalize"
              >
                <i class="fas fa-angle-right"></i>
                Universitet nizomi
              </a>
            </li>
            <li>
              <a
                href="https://vacancy.argos.uz/vacancies/vacancy-list"
                class="text-capitalize"
              >
                <i class="fas fa-angle-right"></i>
                bo'sh ish o'rinlari
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-3 mb-md-0">
          <h3>Me'yoriy-huquqiy hujjatlar</h3>
          <ul>
            <li>
              <a href="https://lex.uz/search/all?form_id=3968">
                <i class="fas fa-angle-right"></i>
                O'zbekiston Respublikasi qonunlari
              </a>
            </li>
            <li>
              <a
                href="https://lex.uz/uz/search/all?form_id=3972&fbody_id=19123"
              >
                <i class="fas fa-angle-right"></i>
                O'zbekisron Respublikasi prizidentining qarorlari
              </a>
            </li>
            <li>
              <a
                href="https://e-qaror.gov.uz/oz/site/list?DocumentSearch%5Bcategory_id%5D=6"
              >
                <i class="fas fa-angle-right"></i>
                OTM tomonidan qabul qilingan normativ-huquqiy hujjatlar
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-3 mb-md-0">
          <h3>Ijtimoiy tarmoqlarda</h3>
          <p>Bizni ijtimoiy tarmoqlar orqali ham kuzatib boring:</p>
          <div class="foot-icons d-flex">
            <div class="icon">
              <a href="https://t.me/library_sbtuit"><i
                  class="fab fa-telegram"
                ></i></a>
            </div>
            <div class="icon">
              <a href="https://fb.com/sbtuitdirector"><i
                  class="fab fa-facebook-f"
                ></i></a>
            </div>
            <div class="icon">
              <a href="https://instagram.com/sbtuitdirector"><i
                  class="fab fa-instagram"
                ></i></a>
            </div>
            <div class="icon">
              <a
                href="https://www.youtube.com/channel/UC3qC0MK0LZekkRvJd8TflxQ/videos"
              ><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="author text-center w-100 py-3 py-lg-4 mb-0">
      <a href="#">&copy; Copyright
        <script>document.write(new Date().getFullYear());</script>, Toshtemirov
        M
      </a>
    </p>
  </footer>
{{/if}}